In [1]:
import pandas as pd
import os

In [3]:
student_data = os.path.join('Resources/new_student_data.csv')
student_df = pd.read_csv(student_data)

In [9]:
import pandas as pd

goog_df = pd.DataFrame({"AAPL": [1045.85, 1070.08, 1140.99, 1113.65, 1193.32, 1231.54, 1215.00, 1207.15,1248.84, 1166.27, 1138.85, 1003.63, 1080.91]})

goog_df

       AAPL
0   1045.85
1   1070.08
2   1140.99
3   1113.65
4   1193.32
5   1231.54
6   1215.00
7   1207.15
8   1248.84
9   1166.27
10  1138.85
11  1003.63
12  1080.91